<li class="list-group-item">
  <div class="media-body">
    <small class="text-muted pull-right"><%= message.created_at%></small>
    <h4 class="media-heading"><%= message.user.email %></h4>
    <div><%= message.body %></div>
  </div>
</li>